body{
    background: #22212C;
}

*,*:before,*:after{
    font-family:'Merriweather Sans', sans-serif;
    padding:0;
    margin:0;
    box-sizing:border-box;
    
}
input,textarea{
    
    outline:none
    
}
    
    
button,input[type="submit"]{
    
    outline:none;
    border:none;
    
}
    
button:hover,input[type="submit"]{
    
    cursor:pointer;
    transform: translateY(-0.25em);
    
}
    

#container{
    position: relative;
    width: 100%;
    height: 100%;
    color: #837E9F;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.perfil{
    width: 348px;
    height: 292px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #302F3D;
    margin: 40px 0 0 40px;
    border-radius: 20px;
    mix-blend-mode: pass-through;
    font-size: 23px;
}

.perfil p{
    font-size: 13px;
}

#img-perfil{
    width: 128px;
    height: 128px;
    left: 150px;
    top: 72px;
    border: 2px solid #00FF00;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 28px 110px 30px 110px;
}

.infos{
    width: 348px;
    height: 250px;
    padding-left: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0 0 40px;   
    border-radius: 20px;
    background: #302F3D;
    mix-blend-mode: pass-through;
    font-size: 13px;
}

.img-infos{
    vertical-align: text-bottom;
    stroke: #837E9F;
}

.tecnologias{
    width: 348px;
    height: 208px;
    padding-top: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 40px 0 0 40px;
    background: #302F3D;
    border-radius: 20px;
}



.tecnologias span:hover{
    background-color: #ddb8e0;
}

.tecnologias span{
    cursor: auto;
}

.tecno{
    width: 200px;
    margin-left: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.html{
    width: 86px;
    height: 50px;
    margin-top: 16px;
    margin-left: 58.6px;
    background: #CB92B1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #000000;
}

.css{
    width: 86px;
    height: 50px;
    margin-top: -50px;
    margin-right: 58.6px;
    background: #CB92B1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    float: right;
    color: #000000;
}



.js{
    width: 86px;
    height: 50px;
    margin-bottom: 16px;
    margin-left: 58.6px;
    background: #CB92B1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #000000;
}

.github{
    width: 86px;
    height: 50px;
    margin-top: -66px;
    margin-right: 58.6px;
    background: #CB92B1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    float: right;
    color: #000000;
}

.experiencias{
    width: 348px;
    height: 370px;
    margin: 40px 0 0 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    line-height: 35px;
    background: #302F3D;
    mix-blend-mode: pass-through;
    font-size: 12px;
    font-weight: 400;
}

.experiencias p{
    font-weight: 300;
}

.exp-text{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.educacao{
    width: 348px;
    height: 352px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 30px 30px;
    line-height: 35px;
    background: #302F3D;
    mix-blend-mode: pass-through;
    font-size: 12px;
    font-weight: 400;
}

.educacao p{
    font-weight: 300;
}

.education-text{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}


.content-container{
    width: 952px;
}

.projects{
    height: 86px;
    margin: 40px 0 0 60px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    mix-blend-mode: pass-through;
    background: #302F3D;
}

.projects-text{
    border: 5px solid transparent;
    /* width: 30%; */
    /* margin-top: 20px; */
}


.ver-todos{
    width: 60px;
    border: 5px solid transparent;
    /* display: flex; */
    /* justify-content: center; */
    /* margin-left: 752px; */
    /* margin-top: -30px;    */
    /* margin-top: 20px; */
}


.folders{
    display: flex;
    flex-direction: row;
}

.folders-1{
    width: 461px;
    height: 186px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 40px 0 0 60px;
    border-radius: 20px;
    padding: 30px 0 0 30px;
    line-height: 35px;
    background: #302F3D;
}

.stars-1{
    display: inline-flex;
    vertical-align: text-bottom;
}

.git-1{
    display: inline-flex;
    vertical-align: text-bottom;
}

.img-folders{
    vertical-align: text-bottom;
}

.folders-2{
    width: 461px;
    height: 186px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 40px 0 0 60px;
    border-radius: 20px;
    padding: 30px 0 0 30px;
    line-height: 35px;
    background: #302F3D;
}

.posts{
    height: 86px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 40px 0 0 60px;
    display: flex;
    align-items: center;
    padding-left: 30px;    
    border-radius: 20px;
    mix-blend-mode: pass-through;
    background: #302F3D;
}

.post-message{
    height: 201px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 40px 0 0 60px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    mix-blend-mode: pass-through;
    background: #302F3D;
}

.img-post{
    width: 128px;
    height: 128px;
    left: 150px;
    top: 72px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 30px 0px 0px 30px;
}

.img-text{
    display: flex;
    flex-direction: row;
}


.post-text{
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 40px;
}

.hast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:-30px 198px 0 198px;
}

.time{
    margin-top: -20px;
    font-size: 12px;
}

.pratice{
    margin-top: 25px;
}






